[submodule "dependencies/debugbreak"]
	path = dependencies/debugbreak
	url = https://github.com/scottt/debugbreak.git
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dependencies/gsl"]
	path = dependencies/gsl
	url = https://github.com/microsoft/GSL.git
